.table{
    background-image: url(./Assets/table-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive;
    color: #FF69B4; 
    text-shadow: 1px 1px 2px white;
}

.heading-2{
    font-size: 30px;
    color: #FFD700;
    color: #40E0D0;
    color: #FFA500;
    color: #8A2BE2;
    background: linear-gradient(to right, #FF69B4, #FFD700, #40E0D0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 40px;
  font-family: 'Comic Sans MS', cursive;
  color: #FF69B4;
}

.heading span {
  opacity: 0;
  transform: translateY(-80px) rotate(-15deg);
  transform: translateY(-50px);
  animation: drop 0.5s forwards;
  display: inline-block;
}

/* Apply delay to each letter */
.heading span:nth-child(1) { animation-delay: 0s; }
.heading span:nth-child(2) { animation-delay: 0.1s; }
.heading span:nth-child(3) { animation-delay: 0.2s; }
.heading span:nth-child(4) { animation-delay: 0.3s; }
.heading span:nth-child(5) { animation-delay: 0.4s; }
.heading span:nth-child(6) { animation-delay: 0.5s; }
.heading span:nth-child(7) { animation-delay: 0.6s; }
.heading span:nth-child(8) { animation-delay: 0.7s; }
.heading span:nth-child(9) { animation-delay: 0.8s; }
.heading span:nth-child(10) { animation-delay: 0.9s; }
.heading span:nth-child(11) { animation-delay: 1s; }
.heading span:nth-child(12) { animation-delay: 1.1s; }
.heading span:nth-child(13) { animation-delay: 1.2s; }

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}