.table{
    background-image: url(./Assets/table-bg.jpg);
    background-repeat: no-repeat;
    background-size: con;
    /* height: 100vh; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}