body {
  font-family: 'Baloo 2', sans-serif;
  background: linear-gradient(135deg, #dbe6e4, #bcead5);
  text-align: center;
  padding: 50px;
  color: #2f4f4f;
}

.game-container {
  background: #ffffff;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(34, 85, 34, 0.4); 
}

h1, h3 {
  color: #356859;
}

button {
  padding: 12px 22px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #6a994e, #a7c957);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #386641, #6a994e);
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #a7c957;
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  background: #f0f7f4;
  color: #2f4f4f;
  outline: none;
}

input:hover {
  border-color: #66bb6a;
  box-shadow: 0 0 10px rgba(102, 187, 106, 0.4);
}

input:focus {
  border-color: #43a047;
  box-shadow: 0 0 15px rgba(67, 160, 71, 0.6);
}

#feedback {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  color: #386641;
}

#exitBtn {
  background: linear-gradient(45deg, #e57373, #c62828);
}

#exitBtn:hover {
  background: linear-gradient(45deg, #c62828, #8e0000);
}


@media only screen and (max-width: 400px){
  input {
    padding: 10px;
    font-size: 14px;
    width: 150px;
  }
} 
