body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dreamstime.com%2Fillustration%2Fwinter-season.html&psig=AOvVaw0B6uDgTTI-h1m8sNOobqEn&ust=1752655945955000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMCftrO-vo4DFQAAAAAdAAAAABAE);
    bac
}