body {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  /* background-image: url(./Assets/winter-season-background.webp); */
  /* background-image: url(./Assets/winter-gif.webp); */
  /* background-image: url(./Assets/winter.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card{
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 450px;
  max-width: 600px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.weather-img img{
    height: 300px;
    width: 100%;
    margin-top: -80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}