body {
  /* background: linear-gradient(135deg, #a1c4fd, #c2e9fb); */
  background-image: url(./Assets/winter-season-background.webp);
  background-repeat: no-repeat;
  background-size: ;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px;
  width: 250px;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: 0.3s ease-in-out;
}

.weather-card:hover {
  transform: scale(1.05);
}

.weather-info img {
  width: 60px;
  margin-top: 10px;
}

.extra-info p {
  font-size: 14px;
  margin: 4px 0;
}
