.winter-main{
  background-image: url(./Assets/winter.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter-card{
  background: linear-gradient(135deg, #eaf6ff, #d2eaff);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  max-width: 700px;
  width: 400px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  animation: slideFromTop 1s ease-out;
}

.winter-img img{
    height: 280px;
    width: 400px;
    margin-top: -80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.winter-text h1{
  text-align: center;
}

.winter-text p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  margin-top: 5px;
  text-align: center;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.winter-card {
  animation: slideFromTop 1s ease-out;
}

.summer-main{
  background-image: url(./Assets/summer-bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer-card{
  background: linear-gradient(135deg, #fff5e1, #ffe0b2);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  max-width: 700px;
  width: 400px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  animation: slideFromTop 1s ease-out;
}

.summer-img img{
    height: 280px;
    width: 400px;
    margin-top: -80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summer-text h1{
  text-align: center;
  font-size: 30px;
}

.summer-text p {
  color: #5e412f; 
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); 
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.summer-card {
  animation: slideFromTop 1s ease-out;
}

.rainy-main{
  background-image: url(./Assets/summer-bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rainy-card{
  background: linear-gradient(135deg, #fff5e1, #ffe0b2);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  max-width: 700px;
  width: 400px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  animation: slideFromTop 1s ease-out;
}

.rainy-img img{
    height: 280px;
    width: 400px;
    margin-top: -80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.summer-text h1{
  text-align: center;
  font-size: 30px;
}

.summer-text p {
  color: #5e412f; 
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); 
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.summer-card {
  animation: slideFromTop 1s ease-out;
}
