body {
  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
  /* background-image: url(./Assets/winter-season-background.webp); */
  /* background-image: url(./Assets/winter-gif.webp); */
  /* background-image: url(./Assets/winter.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card{
  /* background-image: url(./Assets/winter.webp); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative; 
  overflow: hidden; 
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co/Sd0gG9R/snow.gif"); 
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.3;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 1;
}

.weather-img,
.weather-text {
  position: relative;
  z-index: 2;
}